<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Internet Permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".BuyItNowActivity"
            android:exported="false"
            android:label="@string/buy_it_now_activity"
            android:theme="@style/Theme.MyApplication"/>
        <activity
            android:name=".mainactivityscomponents.BestSellersActivity"
            android:exported="false"
            android:label="@string/title_activity_best_sellers"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".ClickedBookActivity"
            android:exported="false"
            android:label="@string/title_activity_clicked_book"
            android:theme="@style/Theme.MyApplication" /> <!-- <activity -->
        <!-- android:name=".test.ui.theme.ClickedBookActivity" -->
        <!-- android:exported="false" -->
        <!-- android:label="@string/title_activity_clicked_book" -->
        <!-- android:theme="@style/Theme.MyApplication" /> -->
<!--        <activity-->
<!--            android:name=".test.ui.ViewAllActivity"-->
<!--            android:exported="false"-->
<!--            android:label="@string/title_activity_view_all"-->
<!--            android:theme="@style/Theme.MyApplication" />-->
        <activity
            android:name=".UpdateUserAccountActivity"
            android:exported="false"
            android:label="@string/title_activity_update_user_account"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".mainactivityscomponents.ViewAllActivity"
            android:exported="false"
            android:label="@string/title_activity_view_all"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".UserAccountActivity"
            android:exported="false"
            android:label="@string/title_activity_user_account"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:label="@string/title_activity_sign_up"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login_activity"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication"
            tools:ignore="RedundantLabel">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>